
src/StudentManager/Makefile
*.marks
*.make
src/StudentManager/CMakeFiles/libStudentMng.dir/link.txt
src/StudentManager/CMakeFiles/libStudentMng.dir/DependInfo.cmake
*.ts
src/StudentManager/CMakeFiles/libStudentMng.dir/cmake_clean_target.cmake
src/StudentManager/CMakeFiles/libStudentMng.dir/cmake_clean.cmake
src/StudentManager/CMakeFiles/CMakeDirectoryInformation.cmake
src/StudentManager/cmake_install.cmake
src/Makefile
*.bin
CMakeFiles/
src/CMakeCache.txt
src/cmake_install.cmake
build/liblibStudentMng.a
*.a
build/exe
.vscode/settings.json
